tmp/*

!configs/server.properties

MCFABRIC-data/*
!MCFABRIC-data/dynmap/
MCFABRIC-data/dynmap/*
!MCFABRIC-data/dynmap/configuration.txt
!MCFABRIC-data/server.properties

MCPAPER-data/*
!MCPAPER-data/server.properties

MCPF-backups/*
!MCPF-backups/.gitkeep

mods/*
!mods/Dynmap-3.7-beta-8-fabric-1.21.3.jar

plugins/*
!plugins/dynmap/
plugins/dynmap/*
!plugins/dynmap/configuration.txt
!plugins/Dynmap-3.7-beta-8-spigot.jar