tmp/*
release-bundle/*
.setup_config/scraper.py
!configs/server.properties
MCPROXY-data/server/logs/*

################## MCPROXY ###################
MCPROXY-data/server/velocity-*.jar

################## BlueMaps ###################
BlueMaps/web/maps/*
!BlueMaps/web/maps/.gitkeep

################## MCFABRIC ###################
MCFABRIC-data/*

!MCFABRIC-data/config/
MCFABRIC-data/config/*
!MCFABRIC-data/config/bluemap
!MCFABRIC-data/config/FabricProxy-Lite.toml
!MCFABRIC-data/server.properties

mods/*

################## MCPAPER ###################

MCPAPER-data/*
!MCPAPER-data/server.properties

!MCPAPER-data/config/
MCPAPER-data/config/*
!MCPAPER-data/config/paper-global.yml

!plugins/BlueMap/
plugins/BlueMap/*

plugins/*

################## MCPF-backups ###################

MCPF-backups/*
!MCPF-backups/.gitkeep

##############################################