tmp/*
release-bundle/*
!configs/server.properties
MCPROXY-data/server/logs/*

################## MCFABRIC ###################
MCFABRIC-data/*

!MCFABRIC-data/config/
MCFABRIC-data/config/*
!MCFABRIC-data/config/FabricProxy-Lite.toml

!MCFABRIC-data/dynmap/
MCFABRIC-data/dynmap/*
!MCFABRIC-data/dynmap/configuration.txt

!MCFABRIC-data/server.properties


################## MCPAPER ###################

MCPAPER-data/*
!MCPAPER-data/server.properties

!MCPAPER-data/config/
MCPAPER-data/config/*
!MCPAPER-data/config/paper-global.yml

################## MCPF-backups ###################


MCPF-backups/*
!MCPF-backups/.gitkeep

##############################################

mods/*
!mods/Dynmap-3.7-beta-8-fabric-1.21.3.jar
!mods/FabricProxy-Lite-2.9.0.jar


plugins/*
!plugins/dynmap/
plugins/dynmap/*
!plugins/dynmap/configuration.txt
!plugins/Dynmap-3.7-beta-8-spigot.jar
